.container-intro {
    background: linear-gradient(135deg,rgb(210, 96, 255),#b142ca 54%,#aa32c5) 50% no-repeat;
    width: 100%;
}

.container-resume {
    min-height: 900px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 90px 0;
}

.container-resume-content {
    color: #ffffff;
    padding: 65px 25px 0 25px;
}

.intro-name {
    display: block;
    letter-spacing: 1px;
    margin: 25px 0;
}

.line {
    font-size: 2rem;
}

.intro-content {
    margin: 20px 0;
    word-spacing: 2px;
}
