@font-face {
    font-family: OpenSansRegular;
    src: url('assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: HelveticaNeueMedium;
    src: url('assets/fonts/HelveticaNeue-Medium.woff');
}

@font-face {
    font-family: HelveticaNeueRoman;
    src: url('assets/fonts/HelveticaNeue-Roman.woff');
}

@font-face {
    font-family: LatoBold;
    src: url('assets/fonts/Lato-Bold.ttf');
}

body {
	background-color: #F8F8F8;
	font-family: OpenSansRegular;
}

h1 {
	font-family: HelveticaNeueMedium;
	font-weight: bold;
	color: #ffffff;
	font-size: 4rem;
}

h2 {
	color: #cc9966;
	font-size: 1.8rem;
	margin-bottom: 1rem;
}

.fa-spin {
	font-size: 3rem;
}

.hide-btn {
	width: 200px;
}
.switch-color-btn {
	font-size: 1.5rem;
}

.change-color-container {
	display: flex;
	justify-content: flex-end;
	margin-right: 1rem;
}

/***************/
/*** Technos ***/
/***************/
.skills-container {
	background-color: #ffffff;
	margin: 30px 0;
	text-align: center;
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.skills-list {
	display: flex;
	justify-content: space-between;
	margin-bottom: 3rem;
}

.skill-item {
	width: 33.333333%;
	padding: 0 1rem;
	font-family: HelveticaNeueRoman;
}

.skill-item img {
	margin-bottom: 1rem;
	max-width: 75px;
}

.skill-item h3, .skill-secondary-item h3 {
	color: #cc9966;
	margin: 1rem;
	text-transform: uppercase;
}


.skill-item:nth-child(2) {
	border-right: 1px dashed #d5d6d6;
	border-left: 1px dashed #d5d6d6;
}

.skills-secondary-container {
	background-color: #ffffff;
	text-align: center;
	padding: 30px;
}

.skills-secondary-list {
	display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0 3rem;
}

input {
	height: 30px;
    width: 200px;
	padding: 0 10px;
	margin-right: 0.5rem;
}

input::placeholder {
	font-style: italic;
}

.new-skill-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
